<ul id="word-list"></ul>
<p>Number of guesses remaining: {{numberOfGuessesRemaining}}</p>
<input type="text" name="search" placeholder="Enter letter" id="guess" maxlength="1"/>
<p>You've incorrectly guessed:
<ul>
	{{#each guessedLetters}}
		<li>{{this}}</li>
	{{/each}}
</ul>