<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone hangman</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div id="word-wrapper">

		<ul id="word-list"></ul>

		<input type="text" name="search" placeholder="Enter letter" id="guess" maxlength="1"/>

	</div>

	<div class="guess-area"></div>

	<script src="libs/requirejs/require.js" data-main="/js/main"></script>
    <script src="js/config.js"></script>
</body>
</html>