<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Backbone hangman</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<ul id="word-list"></ul>





	<div id="word-wrapper">
		<input type="text" name="search" placeholder="enter letter" id="guess" maxlength="1"/>

	</div>




	<script src="libs/requirejs/require.js" data-main="/js/main"></script>
    <script src="js/config.js"></script>
</body>
</html>